#menu {
    background-color: #d5d5d5;
    width: 180px;
    height: 100%;
    /*color: #d5d5d5;*/
    position: fixed;
    text-align: center;
    font-weight: bold;
}

/*#menu a {*/
/*color: #B8C7CE;*/
/*}*/

html, body {
    height: 100%;
    width: 100%;
    background-color: #f7ecb5;
}

.page-content {
    width: 100%;
    height: 100%;
    padding-left: 200px;
}

.pageTitle {
    padding-top: 20px;
    margin-top: 0px;
}


/*.pagination>li>a{*/
    /*background-color: #eee;*/


/*}*/
#disabled-link {
    background-color: #eee;

}